* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f1f5;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
header .navdiv {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
header .navdiv nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .navdiv nav .imgdiv {
  width: 20%;
}
header .navdiv nav .uldiv {
  width: 50%;
}
header .navdiv nav .uldiv ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .navdiv nav .uldiv ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-decoration: none;
  position: relative;
}
header .navdiv nav .uldiv ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: green;
  transition: width 0.3s ease;
}
header .navdiv nav .uldiv ul li a:hover::after {
  width: 100%;
}

#mainsection {
  position: relative;
  background-image: url(/assets/img/homesection.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainsection .mainsecdiv {
  display: flex;
  align-items: center;
}
#mainsection .mainsecdiv .maindiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
#mainsection .mainsecdiv .maindiv h1 {
  font-size: 80px;
  font-weight: bold;
}
#mainsection .mainsecdiv button {
  background-color: #00BD56;
  padding: 20px;
  width: 200px;
  border: 1px transparent;
  border-radius: 10px;
}
#mainsection .mainsecdiv button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#mainsection .mainsecdiv button:hover {
  background-color: transparent;
  border: 1px solid #00BD56;
  transition: 0.5s;
}
#mainsection .mainsecdiv button:hover a {
  color: #00BD56;
}

#about {
  height: auto;
  background-color: #cccdd3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
#about .aboutdiv {
  height: 300px;
  width: 80%;
}
#about .aboutdiv .secondaboutdiv {
  background-color: #00BD56;
  border: 1px solid #00BD56;
  border-radius: 10px;
  position: relative;
  top: -100px;
}
#about .aboutdiv .secondaboutdiv .icondiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#about .aboutdiv .secondaboutdiv .icondiv img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: -50px;
}
#about .aboutdiv .secondaboutdiv .aboutext1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
#about .aboutdiv .secondaboutdiv .aboutext1 h3 {
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin-bottom: 15px;
}
#about .aboutdiv .secondaboutdiv .aboutext1 p {
  color: white;
  font-size: 25px;
}
#about .aboutdiv .secondaboutdiv:hover {
  background-color: white;
  border: 1px solid #00BD56;
  transition: 0.5s;
  cursor: pointer;
}
#about .aboutdiv .secondaboutdiv:hover h3 {
  color: black;
}
#about .aboutdiv .secondaboutdiv:hover p {
  color: #929292;
}
#about .aboutdiv .secondaboutdiv:hover .btndiv {
  transform: translateX(30px);
  transition: 0.5s;
}
#about .aboutdiv .secondaboutdiv:hover .btndiv .arrow {
  background-color: #00BD56;
  transition: 0.5s;
}
#about .aboutdiv .btndiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#about .aboutdiv .btndiv .arrow {
  border: none;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  position: relative;
  bottom: -40px;
  width: 90px;
  height: 90px;
}

#why {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
}
#why .whydiv {
  width: 90%;
  margin-top: 30px;
  padding-top: 30px;
}
#why .whydiv .titlediv {
  margin-top: 30px;
  margin-bottom: 30PX;
}
#why .whydiv .titlediv h2 {
  font-size: 50px;
  font-weight: bold;
}
#why .whydiv .whyimg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
#why .whydiv .whyimg img {
  margin-top: 30px;
  height: 600px;
}
#why .whydiv .whytxt .whytexts {
  margin-top: 30px;
  margin-bottom: 30PX;
  display: flex;
}
#why .whydiv .whytxt .whytexts .wtext {
  display: flex;
  flex-direction: column;
}
#why .whydiv .whytxt .whytexts .wtext h3 {
  font-weight: bold;
  font-size: 35px;
  color: black;
  margin-bottom: 15px;
}
#why .whydiv .whytxt .whytexts .wtext p {
  color: rgb(136, 131, 131);
  font-size: 25px;
}
#why .whydiv .whytxt .whytexts .whylogo {
  margin-right: 20px;
}
#why .whydiv .whytxt .whytexts .whylogo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
  width: 100%;
  background-color: #00BD56;
}
#count .countdivs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
#count .countdivs .countdiv .stat-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#count .countdivs .countdiv .stat-box p {
  color: white;
  font-size: 25px;
}
#count .countdivs .countdiv .stat-box .count {
  font-size: 80px;
  font-weight: bold;
  color: white;
  display: block;
}

#asks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 30px;
}
#asks .askdiv {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#asks .askdiv .asktext {
  width: 80%;
}
#asks .askdiv .asktext h1 {
  font-size: 40px;
  font-weight: bold;
}
#asks .askdiv .asktext p {
  color: #929292;
  font-size: 20px;
}
#asks .askdiv .dropdown-container {
  margin-bottom: 20px;
}
#asks .askdiv .dropdown-btn {
  width: 80%;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(148, 139, 139);
  border: none;
  border-radius: 50px;
  padding: 25px;
  font-size: 20px;
}
#asks .askdiv .dropdown-btn:hover {
  background-color: #00BD56;
  transition: 0.5s;
  color: white;
}
#asks .askdiv .dropdown-content {
  max-height: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.4s ease;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 5px;
  width: 80%;
}
#asks .askdiv .dropdown-content ul li {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}
#asks .askdiv .dropdown-content li:hover {
  background-color: #eee;
}
#asks .askdiv .dropdown-content.show {
  max-height: 500px;
}
#asks .askdiv .videodiv {
  background-color: chocolate;
}
#asks .askdiv .videodiv iframe {
  height: 560px;
  width: 100%;
}

.carousel-section {
  position: relative;
  background-image: url(/assets/img/homesection.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  overflow: hidden;
  width: 600px;
  width: 61%;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease;
  width: 100%;
}

.item {
  min-width: 400px;
  margin: 0 5px;
  background-color: white;
  color: rgb(201, 192, 192);
  text-align: center;
  font-size: 18px;
  padding: 40px 0;
  border-radius: 8px;
}
.item .clientstext p {
  font-size: 20px;
  text-align: start;
}
.item .profil {
  display: flex;
}
.item .profil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.item .profil .profiltxt h1 {
  font-size: 30px;
}

button.prev, button.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (max-width: 1590px) {
  header .navdiv nav .uldiv {
    width: 40%;
  }
  header .navdiv nav .uldiv ul li a {
    font-size: 20px;
  }
  .imgdiv img {
    max-height: 45px;
  }
}
@media (max-width: 1590px) {
  header .navdiv nav .uldiv {
    width: 40%;
  }
  header .navdiv nav .uldiv ul li a {
    font-size: 18px;
  }
  .imgdiv img {
    max-height: 35px;
  }
}
@media (max-width: 1150px) {
  #mainsection {
    width: 100%;
  }
  #mainsection .mainsecdiv .maindiv h1 {
    font-size: 40px;
  }
  #why .whydiv .titlediv {
    margin-top: 30px;
  }
  #why .whydiv .whytxt .whytexts .whylogo img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 595px) {
  #mainsection {
    width: 100%;
  }
  #mainsection .mainsecdiv .maindiv h1 {
    font-size: 35px;
  }
}
@media (max-width: 1000px) {
  #about {
    width: 100%;
  }
  #about .aboutdiv .secondaboutdiv .aboutext1 h3 {
    font-size: 25px;
  }
  #about .aboutdiv .secondaboutdiv .aboutext1 p {
    font-size: 16px;
  }
}
@media (max-width: 1420px) {
  #why .whydiv .titlediv {
    margin-top: 30px;
  }
  #why .whydiv .whytxt .whytexts .wtext h3 {
    font-size: 30px;
  }
  #why .whydiv .whytxt .whytexts .wtext p {
    font-size: 20px;
  }
  #about .aboutdiv .secondaboutdiv {
    height: 400px;
  }
  #about .aboutdiv .secondaboutdiv .aboutext1 p {
    font-size: 15px;
  }
}
@media (max-width: 985px) {
  #why .whydiv .whytxt .whytexts .whylogo img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1050px) {
  #about .aboutdiv .secondaboutdiv {
    padding-bottom: -30px;
  }
  #about .aboutdiv .secondaboutdiv .btndiv button {
    margin-bottom: -30px;
  }
}
@media (max-width: 850px) {
  #about .aboutdiv .secondaboutdiv {
    padding-bottom: -30px;
    height: 450px;
  }
  #about .aboutdiv .secondaboutdiv .btndiv button {
    margin-bottom: -30px;
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 750px) {
  #about .aboutdiv .secondaboutdiv {
    padding-bottom: -30px;
    height: 350px;
  }
  #about .aboutdiv .secondaboutdiv .aboutext1 p {
    font-size: 9px;
  }
  #about .aboutdiv .secondaboutdiv .btndiv button {
    margin-bottom: -30px;
    width: 60px;
    height: 60px;
  }
}