*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .navdiv{
        width: 90%;
display: flex;
justify-content: space-around;
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .imgdiv{width: 20%;}
        .uldiv{
            width: 50%;
            
             ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                li{
a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-decoration: none;
  position: relative; 
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 0;
  background-color: green; 
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%; 
}

                }
             }
        }
       

    }

    }

}
#mainsection{
    position: relative;
    background-image: url(/assets/img/homesection.jpg);
    height: 100vh;
      background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainsecdiv{
    
    display: flex;
   
    align-items: center;
    .maindiv{
       display: flex;
  flex-direction: column;     
  text-align: center;     
       h1{font-size: 80px;
    font-weight: bold;}color: white;
    }
    button{
        background-color: #00BD56;
        padding: 20px;
        width: 200px;
        border: 1px transparent;
        border-radius: 10px;
        a{
                    text-decoration: none;

            color: white;
            font-weight: bold;
        }
    }
    button:hover{
        background-color: transparent;
        border: 1px solid #00BD56 ;
        transition: 0.5s;
        a{
            color: #00BD56;
        }
    }
  }
}
#about{
    height: auto;
    background-color: #cccdd3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    .aboutdiv{
        height: 300px;
        width: 80%;
        .secondaboutdiv{
            background-color: #00BD56;
            border: 1px solid #00BD56;
            border-radius: 10px;
            position: relative;
            top: -100px;
            .icondiv{
                position: relative;       

  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  
               img{
               width: 120px;
               height: 120px;
               border-radius: 50%;
  position: relative;
  top: -50px; 

               }
            }
            .aboutext1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 15px;
                h3{
                    font-weight: bold;
                    font-size: 35px;
                    color: white;
                    margin-bottom: 15px;
                }
                p{
                    color: white;
font-size: 25px;
                }
                
            }
        }
        .secondaboutdiv:hover{
            background-color: white;
            border: 1px solid #00BD56;
            transition: 0.5s;
            cursor: pointer;
            h3{ color: black;
                
            }
            p{
                color: #929292;
            }
            .btndiv{
                 transform: translateX(30px); 
                 transition: 0.5s;
                .arrow{
background-color: #00BD56;
transition: 0.5s;
                }
            }
        }
        .btndiv{
           
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .arrow{
               border: none;
                font-size: 30px;
                padding: 15px;
                border-radius: 50%;
                position: relative;
                bottom: -40px;
                width: 90px;
                height: 90px;
            }
        }
    }
}

#why{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    .whydiv{
        width: 90%;
                    margin-top: 30px;
padding-top: 30px;
        .titlediv{
            margin-top: 30px;
           margin-bottom: 30PX;
h2{
    font-size: 50px;
    font-weight: bold;
}
        }
        .whyimg{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 30px;
         img{
             margin-top: 30px;
             height: 600px;
         }
        }
        .whytxt{
           .whytexts{
            margin-top: 30px;
           margin-bottom: 30PX;
display: flex;
            .wtext{
                display: flex;
                flex-direction: column;
                 h3{
                    font-weight: bold;
                    font-size: 35px;
                    color: black;
                    margin-bottom: 15px;
                }
                p{
                    color: rgb(136, 131, 131);
font-size: 25px;
                }
            }
            .whylogo{
                margin-right: 20px;
                img{
                     width: 100px;
           height: 100px;
           border-radius: 50%;
                }
                
            }
           } 
        }
    }
}





 @media (max-width: 1590px) {

    header{
    .navdiv{
        nav{
            .uldiv{

                width: 40%;
                ul{
                    li{
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
   }
    .imgdiv img {
      max-height: 45px;
    }
  }
   @media (max-width: 1590px) {

    header{
    .navdiv{
        nav{
            .uldiv{
                

                width: 40%;
                ul{
                    li{
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
   }
    .imgdiv img {
      max-height: 35px;
    }
  }
@media (max-width:1150px){
    #mainsection{
        width: 100%;
      .mainsecdiv{
        .maindiv{
            h1{
                font-size: 40px;
            }
        }
      }
    }
      #why{
.whydiv{
    .titlediv{
        margin-top: 30px;
       
    }
   .whytxt{
    .whytexts{
       .whylogo{
        img{
            width:60px;
            height:60px;
        }
       }
    
        }
    }
   }
}
}
@media (max-width:595px){
    #mainsection{
        width: 100%;
      .mainsecdiv{
        .maindiv{
            h1{
                font-size: 35px;
            }
        }
      }
    }
}
@media (max-width:1000px){
    #about{
        width: 100%;
     .aboutdiv{
         .secondaboutdiv{
        .aboutext1{
            h3{
                font-size: 25px;
            }
            p{
                font-size:16px;
            }
        }
      }
     }
    }
}
@media (max-width:1420px){
   #why{
.whydiv{
    .titlediv{
        margin-top: 30px;
        h2{
        }
    }
   .whytxt{
    .whytexts{
        .wtext{
          h3{
            font-size:30px;
          }
          p{
            font-size: 20px;
          }
        }
    
        }
    }
   }
}
 #about{
    .aboutdiv{
        .secondaboutdiv{
          height:400px;
          .aboutext1{
            p{
                font-size: 15px
            }
          }
        
        }
    }
 }
}
@media (max-width:985px){
   #why{
.whydiv{
   .whytxt{
    .whytexts{
       .whylogo{
        img{
            width: 50px;
            height: 50px;
        }
       }
    
        }
    }
   }
}
 
}
@media(max-width:1050px){
#about{
    .aboutdiv{
        .secondaboutdiv{
           padding-bottom: -30px;
            .btndiv{
                button{
                    margin-bottom: -30px
                }
            }
        }
    }
}
}
@media(max-width:850px){
#about{
    .aboutdiv{
        .secondaboutdiv{
           padding-bottom: -30px;
           height: 450px;
            .btndiv{
                button{
                    margin-bottom: -30px;
                   width: 60px;
                   height: 60px;
                
                }
            }
        }
    }
}
}
@media(max-width:750px){
#about{
    .aboutdiv{
        .secondaboutdiv{
           padding-bottom: -30px;
           height: 350px;
           .aboutext1{
            background-color: aqua;
            p{
                font-size:9px;
            }
           }
            .btndiv{
                button{
                    margin-bottom: -30px;
                   width: 60px;
                   height: 60px;
                
                }
            }
        }
    }
}
}